@tailwind base;
@tailwind components;
@tailwind utilities;


.text-md {
  font-size: 18px;
}

.bg-light {
  background-color: #F8F8F8;
}

body {
  background: linear-gradient(342.45deg, #97E0F3 -32.65%, #FFFFFF 85.43%);
    overflow: auto;
    height: 105vh;
}

.status_icon {
  left: 5px;
  bottom: 14px;
}

.navbar {
  z-index: 999;
}